[submodule "src/NaBBODES"]
	path = src/NaBBODES
	url =  https://github.com/dkaramit/NaBBODES.git
	branch = stable
[submodule "src/SimpleSplines"]
	path = src/SimpleSplines
	url = https://github.com/dkaramit/SimpleSplines.git
	branch = stable
