*.ipynb_checkpoints
*.vscode
*path.py
*type.py
*path.hpp
*.pyc
*__pycache__*
*.so
*.run
UserSpace/Python/*_examplePlot.pdf
*.xtx
*._nscpp_
*._NSCpp_
*.aux 
*.log 
*.out 
*.bbl 
*.blg 
*.synctex.gz
*NSCpp.pdf
*NSCpp.toc
